* {
    margin: 0;
    padding: 0;
}

p {
    font-size: 3vw;
}

.slidebox{
    margin-top: 20px;
    height: 200px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px black solid;
    animation: slide 1s forwards;
}

.slidetext {
    animation: slide2 2s forwards;
}

@keyframes slide {
    from {
        opacity: 0;
        margin-left: 0px;
    }

    20% {
        opacity: 0;
    }

    to {
        opacity: 100;
        margin: 20px 30% ;
    }
}

@keyframes slide2 {
    from {
        opacity: 0;
        margin-left: -20px;
    }

    20% {
        opacity: 0;
        margin-left: -15px;
    }

    to {
        opacity: 100;
        margin-left: 0px;
    }
}