.slidebox{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px black solid;
    animation: slide 3s;
}

@keyframes slide {
    from {
        opacity: 0;
        left: 0px;
    }

    to {
        opacity: 100;
        left: 20%;
    }
}