* {
    margin: 0;
    padding: 0;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #555;
}

.box{
    margin: 20px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px black solid;
}

.spinner:hover {
    animation: Spin 1s;
}

@keyframes Spin {
    from {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(360deg) ;
    }
}